
GitGrub\.GetUsGrub/\.vs/config/applicationhost\.config

GitGrub\.GetUsGrub/\.vs/GitGrub\.GetUsGrub/v15/\.suo

GitGrub\.GetUsGrub/\.vs/GitGrub\.GetUsGrub/v15/Server/sqlite3/storage\.ide

GitGrub\.GetUsGrub/GitGrub\.GetUsGrub\.Models/obj/Debug/netstandard2\.0/GitGrub\.GetUsGrub\.Models\.csproj\.CoreCompileInputs\.cache

*.cache
